body {
    font-size: 1rem;
    h2 {
    	  font-family: 'Courgette',cursive;
          color: #693b52;
    }
}

.browse-matrimonial a {
    color: #693b52;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}