// .glry_img img {
//   border: 1px solid #ddd;
//   padding: 0;
//   max-height: 160px;
//   object-fit: cover;
//   float: left;
// }

.glry_img {
  .slick-slide {
    padding: 5px;
  }
}
#bg_gallery {
  .slick-slide {
    img {
      height: 130px;
      object-fit: cover;
    }
  }
}
