.colorful_part_1 {
  background: #693b52;
  color: #fff;
}
.colorful_part_1,
.colorful_part_2 {
  padding: 30px 10px;
  min-height: 180px;
}

.colorful_part_2 {
  background: rgba(111, 47, 65, 0.83);
  color: #fff;
}

.colorful_part_1,
.colorful_part_2 {
  padding: 30px 10px;
  min-height: 180px;
}

.about-wrapper {
  overflow: hidden;
}
